.btn{
	font-family: Teko;
	font-weight: 0;
	font-size: 30px;
	color: #fff;
	background-color: #ff69af;
	padding: 10px 30px;
	border: solid #ffb9de 2px;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
	border-radius: 50px;
	transition : 294ms;
	transform: translateY(0);
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
}

.btn:hover{
	transition : 294ms;
	padding: 10px 40px;
	transform : translateY(-2px);
	background-color: #000000;
	color: #ff69af;
	border: solid 2px #ffb9de;
}

.info-text{
	font-family: Teko;
	font-weight: 0;
	font-size: 30px;
	color: #ffffff;
	white-space: pre-line;
	line-height: 90%;
	text-align: center;
}

.score-text{
	font-family: Teko;
	font-weight: 0;
	font-size: 30px;
	color: #ffffff;
	white-space: pre-line;
	line-height: 90%;
	text-align: center;
}

.delivery-list{
	border: solid #ffffff 3px;
	border-radius: 10px;
	padding: 30px;
	background: linear-gradient(
		45deg,
		rgba(205, 205, 255, 0.4),
		rgba(205, 205, 255, 0.1)
	);
	min-width: 300px;
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
}

.delivery-item{
	font-family: Teko;
	font-weight: 0;
	font-size: 30px;
	color: #ffffff;
	white-space: pre-line;
	line-height: 100%;
	text-align: left;
	padding: 0;
    margin: 0;
}

.delivery-item-done{
	font-family: Teko;
	font-weight: 0;
	font-size: 30px;
	color: #ffffff;
	white-space: pre-line;
	line-height: 100%;
	text-align: left;
	text-decoration: line-through;
	padding: 0;
    margin: 0;
}

.center {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.center-top {
	margin: 0;
	position: absolute;
	top: 10%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.center-bottom {
	margin: 0;
	position: absolute;
	top: 90%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.right-top {
	margin: 0;
	position: absolute;
	top: 25%;
	left: 85%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.list-center-bottom {
	margin: 0;
	position: relative;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-25%, -50%);
	transform: translate(-25%, -50%);
}